<mat-tab-group>

  <mat-tab label="Dados">
     <mat-card-content>
      <br>
      <table>
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <th>Criado em </th>
          <th>Atualização em </th>
        </tr>
        <tr  *ngFor="let subGroup of subGroup">
            <td>{{subGroup.id}}</td>
            <td>{{subGroup.description}}</td>
            <td>{{subGroup.createdAt}}</td>
            <td>{{subGroup.updatedAt}}</td>
            <!--<p><b>{{group.id}} - {{group.description}}</b></p>-->
        </tr>
      </table>
      <br>
      <h1 >Grupo:</h1>
      <table>
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <th>Criado em </th>
          <th>Atualizado em </th>
        </tr>
        <tr  *ngFor="let group of group">
            <td>{{group.id}}</td>
            <td>{{group.description}}</td>
            <td>{{group.createdAt}}</td>
            <td>{{group.updatedAt}}</td>
            <!--<p><b>{{group.id}} - {{group.description}}</b></p>-->
        </tr>
      </table>
   <mat-card-actions>
     <button  mat-raised-button color="primary"  (click)="onNoClick()">Cancelar</button>
   </mat-card-actions>


     </mat-card-content>
 </mat-tab>
 <mat-tab label="Editar">
 <mat-card-content>
   <mat-form-field class="example-full-width" appearance="fill">
     <mat-label>Descrição</mat-label>
     <input matInput [(ngModel)]="description" maxlength="100" minlength="1">
   </mat-form-field>
   <br>
   <mat-card-actions>
     <button  mat-raised-button color="primary"  (click)="subgroupEdit()">Editar</button>
     <button  mat-raised-button color="primary"  (click)="onNoClick()">Cancelar</button>
   </mat-card-actions>
 </mat-card-content>
 </mat-tab>
 <mat-tab label="Deletar" >
   <mat-card-content>
     <br>
        <h1>Tem certeza que deseja excluir esse Sub-grupo? </h1>
     <br>
     <mat-card-actions>
       <button  mat-raised-button color="primary"  (click)="subgroupDelete()">Excluir</button>
       <button  mat-raised-button color="primary"  (click)="onNoClick()">Cancelar</button>
     </mat-card-actions>
   </mat-card-content>
 </mat-tab>
</mat-tab-group>
