<mat-card-content>
  <mat-card-title>
    <h1>Cadastrar Coleção</h1>
  </mat-card-title>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Descrição</mat-label>
    <input matInput  [(ngModel)]="description" maxlength="100" minlength="1">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Descrição</mat-label>
    <input matInput  [(ngModel)]="description" maxlength="100" minlength="1">
  </mat-form-field>
  <br> <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Descrição</mat-label>
    <input matInput  [(ngModel)]="description" maxlength="100" minlength="1">
  </mat-form-field>
  <mat-card-actions>
    <button  mat-raised-button color="primary" (click)="collectionAdd()" >Cadastrar</button>
    <button  mat-raised-button color="primary" (click)="onNoClick()" >Cancelar</button>
  </mat-card-actions>
</mat-card-content>
