<mat-tab-group>
    <mat-tab label="Dados">
        <mat-card-content>
            <br>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Total</th>
                </tr>
                <tr *ngFor="let frete of fretes">
                    <td>{{fretes.id}}</td>
                    <td>{{fretes.total}}</td>
                </tr>
            </table>
            <br><br>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="cancel()">Cancelar</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-tab>

    <mat-tab label="Editar">
        <mat-card-content>
            <br>
            <app-dropdown [array]="products" [idField]="'id'" [textField]="'description'" [title]="'Produto'"
                [(ngModel)]="selectedProduct"></app-dropdown>
            <br>
            <br>
            <app-dropdown [array]="products" [idField]="'id'" [textField]="'salePrice'" [title]="'Total'"
                [(ngModel)]="selectedTotal"></app-dropdown>
            <br>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Desconto</mat-label>
                <input matInput placeholder="%" [(ngModel)]="desconto" maxlength="100" minlength="1">
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="editFrete()">Editar</button>
                <button mat-raised-button color="primary" (click)="cancel()">Cancelar</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-tab>

    <mat-tab label="Deletar">
        <mat-card-content>
            <br>
            <h1>Tem certeza que deseja excluir este item? </h1>
            <br>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="deleteFrete()">Excluir</button>
                <button mat-raised-button color="primary" (click)="cancel()">Cancelar</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-tab>
</mat-tab-group>