mat-card-content, mat-card-actions{
    text-align: center;
  }
  .example-form {
    min-width: 90px;
    max-width: 1000px;
    width: 100%;
  }
  
  .example-30-width {
    width: 30%;
    margin-left: 10px;
  }