mat-card-actions , mat-card-content{
    text-align: center;
  }
  div{
    text-align: center;
  }
  .example-form {
    min-width: 90px;
    max-width: 1000px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-25-width {
    width: 25%;
    margin-right: 8px;
  }
  .example-30-width {
    width: 30%;
    margin-left: 10px;
  }
  .example-40-width {
    width: 40%;
    margin-left: 20px;
  }
  .example-20-width {
    width: 20%;
    margin-left: 10px;
  }
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }