

mat-card {
    max-width: 40rem;
    margin: 15em auto;
    text-align: center;
    // background-color: rgb(236, 236, 236);
}

mat-form-field {
    width: 80%;
}
mat-card-header{
    text-align: center;
}
