.botao{
    align-items: center;
    margin: auto 0;
}
mat-card-content{
    align-items: center;
    justify-content: center;
    margin: auto 0;
    text-align: center;

}
.password{
    width: 200px;
}
mat-form-field{
    margin: 15px;
}