<mat-card>

  <mat-card-content>
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput placeholder="Inserir grupo" [(ngModel)]="search">
      <button mat-icon-button matSuffix (click)="postGroupModal()" [attr.aria-label]="'Addgroup'" [attr.aria-pressed]="add">
        <mat-icon>add</mat-icon>
    </button>
  </mat-form-field>
  <!-------------------------------------------------------------------------------------------------->
  <br>
  <table>
    <tr>
      <th>ID</th>
      <th>Descrição</th>
    </tr>
    <tr  *ngFor="let group of group  | filter : search">
        <td (click)="editGroupModal(group,group.id)">{{group.id}}</td>
        <td (click)="editGroupModal(group,group.id)">{{group.description}}</td>
        <!--<p><b>{{group.id}} - {{group.description}}</b></p>-->
    </tr>

   </table>
  </mat-card-content>
</mat-card>


