mat-card-content, mat-card-actions{
  text-align: center;
}
.example-form {
  min-width: 90px;
  max-width: 1000px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-25-width {
  width: 25%;
  margin-right: 8px;
}
.example-30-width {
  width: 30%;
  margin-left: 10px;
}
.example-20-width {
  width: 20%;
  margin-left: 10px;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;

}
th:hover{
  color:rgba(47,117,229,255);
border-bottom: 3px solid rgba(47,117,229,255)

}
td:hover{
color:rgba(89,177,126,255);
border-bottom: 3px solid rgba(89,177,126,255);
}

