<mat-sidenav-container class="nav-container">
    <mat-sidenav mode="side" class="nav-content" [(opened)]="opened">
          <mat-action-list>
              <button  *ngFor="let item of menu" mat-list-item [routerLink]="item.path">
                <mat-icon matListIcon>{{item.icon}}</mat-icon> {{item.caption}}
            </button>
          </mat-action-list>
            <button mat-icon-button class="botao" (click)="load()"><mat-icon>logout</mat-icon></button>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
